@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*   
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body
    {
    min-height: 100vh;
    min-width: 400px;
    overflow: hidden;
}
header
{
display: flex;
align-items: center;
justify-content: flex-end;
width: 100%;
height: 80px;
padding: 0 5%;
color: #311822;
font-size: 18px;
}
header>.Logo{
color: #311822;
font-size: 2.5rem;
font-weight: 700;
text-transform: uppercase;
margin-right: auto;
}

header>nav{
display: flex;
align-items: center;
}

header>nav>.menu{
display: flex;
align-items: center;
}

header>nav>.menu>li>a{
position: relative;
color: #311822;
font-size: 1rem;
font-weight: 600;
margin-left: 40px;
border-radius: 0.4rem;
transition: color 0.4s ease;
}

header>nav>.menu>li>a:hover{
color: #fff;
}

header>nav>#toggle{
font-size: 1.3rem;
margin-left: 80px;
cursor: pointer;
}


.home
{
padding: 0 5%;
color: #311822;
text-align: center;
}
.home>h1
{
color: #311822;
text-transform: uppercase;
font-size: 6rem;
font-weight: 700;
letter-spacing: 10px;
}


.home>h2{
color: #311822;
font-size: 1.8rem;
font-weight: 300;
margin-bottom: -25px;
}


.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7 {
width: 100%;
height: 100vh;
position: absolute;
bottom: 0;
left: 0;
z-index: -10; }

.home.images.img-1
{
background: url(Screenshot.png);
background-position: center;
background-size: cover;
}

@media (max-width:800px)
{
.home
{
min-width: 390px;
}
.home h1
{
margin-top: 5px;
font-size: 4rem;
font-weight: 700;
}
home h2
{
margin-top: 10px;}
}

header nav.menu li a {
margin-left: unset;
font-size: 2rem;
font-weight: 700;
text-transform: uppercase;
color: #f3de88;
width: 250px;
height: 60px;
line-height: 60px;
display: block;
text-align: center;
border-radius: 5px;
transition: 0.25s ease;
}

header nav .menu {
flex-direction: column;
row-gap: 2rem;
position: absolute;
left: -00%;
top: 80px;
width: 100%;
padding-top: 110px;
background: #311822;
height: calc(100vh 80px);
z-index: 10;
transition: left 0.4s ease;
}

header nav.menu li a:hover
{
background: #f3de88;
color: #311822;}

header nav .menu.active
{
left: 0;}

